<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarPaciente</servlet-name>
        <servlet-class>Servlets.CadastrarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPacientes</servlet-name>
        <servlet-class>Servlets.ListarPacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarPacientePorCpf</servlet-name>
        <servlet-class>Servlets.PesquisarPacientePorCpf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarPaciente</servlet-name>
        <url-pattern>/cadastrarpaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPacientes</servlet-name>
        <url-pattern>/listarpacientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarPacientePorCpf</servlet-name>
        <url-pattern>/pesquisarpacienteporcpf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
