<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Crud</servlet-name>
        <servlet-class>Servlets.Crud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarPacientePorCpf</servlet-name>
        <servlet-class>Servlets.PesquisarPacientePorCpf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizarpaciente</servlet-name>
        <servlet-class>Servlets.AtualizarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPacientes</servlet-name>
        <servlet-class>Servlets.ListarPacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUsuario</servlet-name>
        <servlet-class>Servlets.ValidarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Crud</servlet-name>
        <url-pattern>/crud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarPacientePorCpf</servlet-name>
        <url-pattern>/pesquisarpacienteporcpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizarpaciente</servlet-name>
        <url-pattern>/atualizarpaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPacientes</servlet-name>
        <url-pattern>/listarpacientes</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ValidarUsuario</servlet-name>
        <url-pattern>/validarusuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
