/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/03/2019, 13:50:23
    Author     : 80119050
*/

.body {    
	background-color:yellow;
        width: 99.9%;
        padding: 0px;
}

a{
	color: red;
}

#consultaCPF {
    background-color: lightblue; 
    padding: 5px;
    margin-top: 0px;/*Margen superior com 1 pixel*/
    margin-right: -1px;
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    width: 26%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 700px; /*Altura de 500 pixels*/
}
#resultadoCPF {
    background-color: lightblue;/*Cor de fundo*/    
    padding: 5px;/*Margen interna de 3 pixels*/
    float: right;/*propriedade indicando que a Área flutuará a direita*/
    margin-top: 0px;/*Margen superior com 1 pixel*/
    margin-left: 0.1px;
    width: 72.5%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 700px;/*Altura de 494 pixels*/
}

td,th {
        
        border: 1px solid #dddddd;
        text-align: left;
        padding: 6px;
    }   
    
    tr:nth-child(even){background-color: beige;}
    tr:nth-child(odd){background-color: burlywood;}
    
    
.footer {width: 100%; background-color:cadetblue; text-align: center; padding: 8px; margin-top: 200px; 
       margin-left: -1%; bottom: 0px ; position: fixed;}


