/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/03/2019, 13:44:50
    Author     : 80119050
*/
       
.corpo {background-color: powderblue; height: 700px}

.titulo {text-align: center}
.navbar {height: 50px;}
.nav-item {font-size: x-large;} 
.nav-link {font-size: x-large; padding: 10px 10px;}

.logincadastro {
    background-color: powderblue;
    padding: 4px;
    float: right;
    width: 40%;
    margin-right: 30%;
    margin-left: 0%;
    margin-top:6%;
}


.secao4 {      
    background-color: darkslateblue;/*Cor de fundo*/    
    float: left;/*propriedade indicando que a Área flutuará a direita*/
    margin-top: 7%;
    margin-right:10px; 
    padding: 10px;
    margin-left: 0.1px;
    margin-bottom: 0%;/*Margen superior com 1 pixel*/
    width: 100%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 22px; 
}

.footer {width: 100%; background-color:cadetblue; text-align: center; padding: 2px; 
        margin-top: 200px; bottom: 0px ; position: fixed;}
 
