.corpo {    
    margin-top: 0px;
}
h3, h4 {
    text-align: center;
}
a{
    color: white;
}
.principal{    
    padding: 0px;
    margin-top: 0px;/*Margen superior com 1 pixel*/
    margin-left: -8px;
    margin-right: 0px;
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    width: 100%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 600px; /*Altura de 500 pixels*/
}
.logado{
    background-color: gray;
    margin-top: 0px;
    margin-right: -8px;
    margin-left: 0px;
    padding: 8px;
    float: right;    
    width: 100%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 60px; /*Altura de 500 pixels*/
}
.secao1{
    background-color: buttonface; 
    padding: 5px;
    margin-bottom: 0px;/*Margen superior com 1 pixel*/
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    width: 30%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 576px; /*Altura de 500 pixels*/
}
.secao2{
    background-color: powderblue;/*Cor de fundo*/    
    padding: 12px;/*Margen interna de 3 pixels*/
    float: right;/*propriedade indicando que a Área flutuará a direita*/
    margin-right: -16px;
    margin-bottom: 0px;/*Margen superior com 1 pixel*/
    margin-left: 0px;
    width: 68.5%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 576px;/*Altura de 494 pixels*/
}
.secao3 {
    background-color: darkslateblue;/*Cor de fundo*/    
    float: left;/*propriedade indicando que a Área flutuará a direita*/
    margin-top: 0px;
    margin-right:10px; 
    padding: 8px;
    margin-left: 0.1px;
    margin-bottom: 0%;/*Margen superior com 1 pixel*/
    width: 100%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 15px;       
}
.secao4 {
    background-color: darkslateblue;/*Cor de fundo*/    
    float: left;/*propriedade indicando que a Área flutuará a direita*/
    margin-top: 14.7%;
    margin-right:10px; 
    padding: 8px;
    margin-left: 0.1px;
    margin-bottom: 0%;/*Margen superior com 1 pixel*/
    width: 100%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 15px;       
}
.secao5 {
    background-color: darkslateblue;/*Cor de fundo*/    
    float: left;/*propriedade indicando que a Área flutuará a direita*/
    margin-top: 0px;
    margin-right:10px; 
    padding: 8px;
    margin-left: 0.1px;
    margin-bottom: 0%;/*Margen superior com 1 pixel*/
    width: 100%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 15px;       
}
.secao6 {
    background-color: darkslateblue;/*Cor de fundo*/    
    float: left;/*propriedade indicando que a Área flutuará a direita*/
    margin-top: 14.69%;
    margin-right:10px; 
    padding: 8px;
    margin-left: 0.1px;
    margin-bottom: 0%;/*Margen superior com 1 pixel*/
    width: 100%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 15px;       
}
.logincadastro {
    background-color: gray;
    float: right;
    width: 40%;
    margin-right: 30%;
    margin-left: 0%;
    margin-top:15%;
}
.cabecalho{
    background-color: darkslateblue;/*Cor de fundo*/    
    padding: 2px;/*Margen interna de 3 pixels*/
    float: right;/*propriedade indicando que a Área flutuará a direita*/  
    width: 100%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 30px;/*Altura de 494 pixels*/ 
    margin-top: 587px;
    position: fixed;
    text-align: center;
}